.DashBoard {
  display: grid;
  width: 100%;
  grid-template-columns: max-content max-content;
  column-gap: 10px;
}

.DashBoard > div {
  background-color: #ffffff15;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #00000020;
}
